/*

PORTFOLIO SITE SCSS

*/
/*

WRITE ALL THE VARIABLES USED IN THE SCSS FILES HERE

*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900,500);
/*

INCLUDE ALL THE GLOBAL AND COMMON STYLES THAT ARE TO BE USED IN THE SITE

*/
/*

WRITE ALL THE VARIABLES USED IN THE SCSS FILES HERE

*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900,500);
h1, h2, h3, h4, h4, h5, h6, small {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

p {
  font-size: 18px;
  margin-bottom: 10px; }

small {
  font-size: 14px; }

/*

WRITE ALL THE MIXINS CODE HERE

*/
/*

WRITE ALL THE VARIABLES USED IN THE SCSS FILES HERE

*/
/*

INCLUDE ALL THE GLOBAL AND COMMON STYLES THAT ARE TO BE USED IN THE SITE

*/
/*

WRITE ALL THE VARIABLES USED IN THE SCSS FILES HERE

*/
h1, h2, h3, h4, h4, h5, h6, small {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

p {
  font-size: 18px;
  margin-bottom: 10px; }

small {
  font-size: 14px; }

.transparent-background, .navbar {
  background-color: transparent;
  zoom: 1; }

/*

INCLUDE ALL ANIMATIONS AND TRANSITIONS EFFECTS HERE

*/
html, body {
  background-color: #fff;
  margin: 0;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a; }

.navbar {
  border: none;
  background-color: RGBA(0, 0, 0, 0.5); }

.jumbotron {
  background-image: url("../assets/images/2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  border-radius: 0px !important;
  height: 600px;
  width: 100%;
  margin-bottom: 0; }
  .jumbotron .jumbotron-content {
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding-bottom: 100px;
    color: #fff; }
    .jumbotron .jumbotron-content h1 {
      font-weight: 300; }
    .jumbotron .jumbotron-content p {
      text-align: center; }

.section-title {
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  position: relative;
  margin-bottom: 30px;
  word-spacing: 5px; }

.sub-title {
  text-transform: none;
  margin-bottom: 30px; }

#about-me {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0 0px 15px #ccc inset;
  -webkit-box-shadow: 0 0px 15px #ccc inset; }
  #about-me .my-image {
    width: 250px;
    height: 250px;
    border-radius: 50%; }
  #about-me h2 {
    font-weight: 300;
    margin-bottom: 20px; }
    #about-me h2 strong {
      font-weight: 400; }

#projects {
  padding: 60px 0;
  background-image: url(../assets/patterns/grey.png);
  background-position: left;
  background-repeat: repeat;
  background-size: contain; }
  #projects .view-all {
    color: #fff;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #00b279;
    border-radius: 0px;
    border-color: #009968; }
    #projects .view-all:hover {
      color: #fff;
      text-decoration: none; }
    #projects .view-all:active {
      color: #fff;
      text-decoration: none; }
    #projects .view-all:focus {
      color: #fff;
      text-decoration: none; }

.thumbnail {
  background: #fff;
  border-radius: 0;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 30px;
  text-align: center; }
  .thumbnail.active, .thumbnail:focus, .thumbnail:hover {
    text-decoration: none;
    border: 1px solid #ddd !important; }
  .thumbnail img {
    width: 360px;
    height: 270px; }
  .thumbnail .caption {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden; }
    .thumbnail .caption h5 {
      font-weight: 400;
      margin: 0 0 15px 0; }
    .thumbnail .caption .year {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: lightgrey; }

#contact-me {
  position: relative;
  background-color: black;
  background-image: url(../assets/patterns/hexabump.png);
  background-position: left;
  background-repeat: repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff; }
  #contact-me .smiley {
    position: absolute;
    top: 7%;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    right: 17%; }
  #contact-me .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-left: 3px solid #009968;
    border-right: 3px solid #009968;
    min-height: 45px;
    margin-bottom: 30px; }
  #contact-me .submit-btn {
    color: #fff;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #00b279;
    border-radius: 0px;
    border-color: #009968;
    margin-bottom: 60px; }
    #contact-me .submit-btn:hover {
      color: #fff;
      text-decoration: none; }
    #contact-me .submit-btn:active {
      color: #fff;
      text-decoration: none; }
    #contact-me .submit-btn:focus {
      color: #fff;
      text-decoration: none; }
  #contact-me .social-icons {
    text-align: center;
    margin: 30px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff; }
    #contact-me .social-icons a {
      color: #fff;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: transparent;
      padding-left: 10px;
      padding-right: 10px; }
      #contact-me .social-icons a:hover {
        color: #fff;
        background: transparent;
        text-decoration: none; }
      #contact-me .social-icons a:active {
        color: #fff;
        background: transparent;
        text-decoration: none; }
      #contact-me .social-icons a:focus {
        color: #fff;
        background: transparent;
        text-decoration: none; }

#footer {
  background-color: #05f5f5; }

/*# sourceMappingURL=portfolio.css.map */
